.searchBar {
  background-color: rgb(44, 87, 218);
  height: 10vh;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.searchFormBtn {
  background-color: #fff;
  border: none;
  height: 30px;
}

.searchFormInput {
  height: 30px;
  width: 430px;
  border: none;
}
